<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="application.properties"/>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>

        <!-- 控制全局缓存（二级缓存）-->
        <setting name="cacheEnabled" value="true"/>

        <!-- 延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。默认 false  -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <!-- 当开启时，任何方法的调用都会加载该对象的所有属性。默认 false，可通过select标签的 fetchType来覆盖-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--  Mybatis 创建具有延迟加载能力的对象所用到的代理工具，默认JAVASSIST -->
        <!--<setting name="proxyFactory" value="CGLIB" />-->
        <!-- STATEMENT级别的缓存，使一级缓存，只针对当前执行的这一statement有效 -->
        <!--
                <setting name="localCacheScope" value="STATEMENT"/>
        -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="SESSION"/>
    </settings>


<!--    <typeAliases>-->
<!--        <typeAlias alias="workParam" type="com.caecc.model.WorkParam"/>-->
<!--    </typeAliases>-->
    <typeAliases>
        <package name="com.caecc.model" />
    </typeAliases>
    <environments default="test">
        <!-- 开发环境-->
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="com.caecc.netty.xian_26.shentong.c3p0DataSourceFactory">
                <property name="driverClass" value="${spring.datasource.driver-class-name}"/>
                <property name="jdbcUrl" value="${spring.datasource.url}"/>
                <property name="user" value="${spring.datasource.username}"/>
                <property name="password" value="${spring.datasource.password}"/>
                <property name="initialPoolSize" value="5"/>
                <property name="maxPoolSize" value="20"/>
                <property name="minPoolSize" value="5"/>

            </dataSource>
        </environment>

        <!-- 测试环境-->
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/IWorkParam.xml"/>
    </mappers>
</configuration>
